//
//  AppStore.xcconfig
//  boilerplate-ios-swiftui
//
//  Created by Can Baybunar on 19.11.2020.
//  Copyright © 2020 Adesso Turkey. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

base_url = https:/$()/min-api.cryptocompare.com/data/

webSocket_base_url = wss:/$()/streamer.cryptocompare.com/v2?api_key=%@

personal_api =
