//
//  AppStore.xcconfig
//  boilerplate-ios-swiftui
//
//  Created by Can Baybunar on 19.11.2020.
//  Copyright © 2020 Adesso Turkey. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_BUNDLE_IDENTIFIER = com.adesso.SampleAppSwiftUI
WebSocket_BASE_URL = wss://streamer.cryptocompare.com/v2?api_key=05e4cee996b2cbd82a402ccef587bfc4db9dc88fd4083422594b8eb688bdfcb6
